.contact-title {
  background-color: #999;
  background-image: url("/selhono/img/images/contactBG.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;

  height: 365px;
}
