.prices {
  margin-bottom: clamp(6.25rem, 3.795rem + 12.27vw, 13rem);
  // .prices__title

  &__title {
    background-color: #999;
    background-image: url("/selhono/img/images/pricesBG.jpg");
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;

    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: clamp(3.125rem, 2.67rem + 2.27vw, 4.375rem);
    font-weight: 400;

    padding: clamp(5.625rem, 3.625rem + 10vw, 11.125rem) 0 90px;
  }

  // .prices__cards

  &__cards {
    margin-top: clamp(5.625rem, 3.511rem + 10.57vw, 11.438rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 850px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 80px;
    }
  }

  // .prices__card

  &__card {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5; /* 37.5px */
    letter-spacing: 0.25px;
  }

  // .prices__card-title

  &__card-title {
  }

  // .prices__card-price

  &__card-price {
    line-height: 1.2;
    span {
      font-size: 85px;
    }
  }

  // .prices__card-list

  &__card-list {
    padding-top: 65px;
  }

  // .prices__card-item

  &__card-item {
    color: #4d5053;
    text-align: center;
    font-family: "Jost";
    font-size: 20px;
    font-weight: 400;
    line-height: 2.5; /* 50px */
    letter-spacing: 0.2px;
  }

  // .prices__card-btn

  &__card-btn {
    display: inline-block;
    margin-top: 28px;
    padding: 26px 73px 26px 48px;
    color: #fff;
    background-color: var(--textColor);

    text-align: center;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;

    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    border-radius: 18px;
    transition: all 0.2s ease-in;
    position: relative;

    &:hover {
      background-color: #3e464e;
    }
    &:active {
      background-color: #23262b;
    }
    &:focus {
      background-color: #3e464e;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url("/selhono/img/icons/arrow-right.svg");
      width: 30px;
      height: 30px;
      bottom: 18px;
      right: 30px;
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  // .prices__card-link

  &__card-link {
  }
}
.card__popular-price {
  color: var(--accent);
}
.card__popular-btn {
  background-color: var(--accent);
  &:hover {
    background-color: #ccaa86;
  }
  &:active {
    background-color: #d8a874;
  }
  &:focus {
    background-color: #ccaa86;
    border-color: #d8a874;
  }
}
