.projects {
  margin-top: clamp(9.375rem, 8.239rem + 5.68vw, 12.5rem);
  // .projects__container

  &__container {
  }

  // .projects__title

  &__title {
    text-align: center;
    font-size: clamp(2rem, 1.364rem + 3.18vw, 3.75rem);
    font-weight: 400;
    line-height: 1.25; /* 75px */
    letter-spacing: 1.2px;
  }

  // .projects__desc

  &__desc {
    color: #4d5053;
    text-align: center;
    font-family: "Jost";
    font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
    font-weight: 400;
    line-height: 1.5; /* 42px */
    letter-spacing: 0.28px;

    max-width: 737px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 30px;
  }

  // .projects__cards

  &__cards {
    margin-top: clamp(5.313rem, 4.631rem + 3.41vw, 7.188rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 116px;

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
    }
  }

  // .projects__card

  &__card {
    border-radius: 0px 270px 0px 0px;
    min-width: 350px;
    @media (max-width: 850px) {
      min-width: 0;
    }
  }

  // .projects__img

  &__img {
    border-radius: 0px 270px 0px 0px;
    width: 100%;
  }

  // .projects__card-bottom

  &__card-bottom {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .projects__card-text

  &__card-text {
  }

  // .projects__card-title

  &__card-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.25; /* 31.25px */
    letter-spacing: 0.5px;
    @media (max-width: 390px) {
      font-size: 20px;
    }
  }

  // .projects__card-category

  &__card-category {
    color: #4d5053;

    font-family: "Jost";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5; /* 33px */
    letter-spacing: 0.22px;
    @media (max-width: 390px) {
      font-size: 16px;
    }
  }

  // .projects__card-arrow

  &__card-arrow {
    cursor: pointer;
    transition: scale 0.2s;
    @media (max-width: 390px) {
      width: 50px;
    }
    &:hover {
      scale: 1.1;
    }
    &:active {
      scale: 0.9;
    }
  }
}
