.work {
  margin-top: 205px;
  margin-bottom: clamp(6.25rem, 2.682rem + 17.84vw, 16.063rem);
  // .work__container

  &__container {
  }

  // .work__title

  &__title {
    color: #363b41;

    text-align: center;
    font-size: 50px;

    font-weight: 400;
    line-height: 1.25; /* 62.5px */
  }

  // .work__subtitle

  &__subtitle {
    margin-top: 46px;
    text-align: center;
    font-family: "Jost";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5; /* 33px */
    letter-spacing: 0.22px;

    max-width: 802px;
    margin-left: auto;
    margin-right: auto;
  }

  // .work__cards

  &__cards {
    margin-top: 156px;
  }

  // .work__card

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 121px;
    @media (max-width: 920px) {
      flex-direction: column;
    }
  }
  &__card-num1 {
    &::after {
      content: "01";
      position: absolute;
      right: 0;
      top: 0;
      background-size: auto;
      background-repeat: no-repeat;

      color: #c76904;

      text-align: center;
      font-size: clamp(3.125rem, 2.216rem + 4.55vw, 5.625rem);
      font-weight: 400;
      line-height: 1.5; /* 135px */
      letter-spacing: 0.9px;
      @media (max-width: 520px) {
        color: var(--accent);
      }
    }
  }
  &__card-num2 {
    &::after {
      content: "02";
      position: absolute;
      left: 0;
      top: 0;
      background-size: auto;
      background-repeat: no-repeat;

      color: #c76904;

      text-align: center;
      font-size: clamp(3.125rem, 2.216rem + 4.55vw, 5.625rem);
      font-weight: 400;
      line-height: 1.5; /* 135px */
      letter-spacing: 0.9px;
      @media (max-width: 520px) {
        color: var(--accent);
      }
    }
  }
  &__card-num3 {
    &::after {
      content: "03";
      position: absolute;
      right: 0;
      top: 0;
      background-size: auto;
      background-repeat: no-repeat;

      color: #c76904;

      text-align: center;
      font-size: clamp(3.125rem, 2.216rem + 4.55vw, 5.625rem);
      font-weight: 400;
      line-height: 1.5; /* 135px */
      letter-spacing: 0.9px;
      @media (max-width: 520px) {
        color: var(--accent);
      }
    }
  }
  &__card-num4 {
    &::after {
      content: "04";
      position: absolute;
      left: 0;
      top: 0;
      background-size: auto;
      background-repeat: no-repeat;

      color: #c76904;

      text-align: center;
      font-size: clamp(3.125rem, 2.216rem + 4.55vw, 5.625rem);
      font-weight: 400;
      line-height: 1.5; /* 135px */
      letter-spacing: 0.9px;
      @media (max-width: 520px) {
        color: var(--accent);
      }
    }
  }

  // .work__card-img

  &__card-img img {
    border-radius: 0px 300px 0px 400px;
    @media (max-width: 520px) {
      border-radius: 0;
    }
  }
  &__card-imgR img {
    border-radius: 300px 0px 400px 0px;
    @media (max-width: 520px) {
      border-radius: 0;
    }
  }

  &__card-text {
    margin-left: 93px;
    @media (max-width: 920px) {
      margin-left: 0;
      margin-top: 50px;
    }
  }
  // .work__card-title

  &__card-title {
    color: #292f36;

    font-size: 35px;
    font-weight: 400;
    line-height: 1.25; /* 43.75px */
  }

  // .work__card-desc

  &__card-desc {
    padding-top: 11px;
    color: #4d5053;

    font-family: "Jost";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5; /* 33px */
    letter-spacing: 0.22px;

    max-width: 456px;
    margin-left: auto;
    margin-right: auto;
  }
  &__card-left {
    flex-direction: row-reverse;
    @media (max-width: 920px) {
      flex-direction: column;
    }
  }
  &__card-textR {
    margin-left: 0;
  }
}
